<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Bookstores</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <a href="/books">Books</a>
                <a href="/themes">Themes</a>
                <a href="/shops">Bookstores</a>
                <a href="/readers">Readers</a>
                <a href="/readings">Readings</a>

                <div class="panel-heading">
                    <h1 class="panel-title">Bookstores</h1>
                </div>
                <div class="panel-body">
                    <a href="/shops/add">Add bookstore</a>
                    <div class="table-responsive" th:if="${not #lists.isEmpty(bookstores)}">
                        <table class="table table-hover">
                            <thead class="thead-inverse">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>URL</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tr th:remove="all">
                                <td>123</td>
                                <td>Bookstore 1</td>
                                <td><a href="#">http://www.book1store.com</a></td>
                                <td><a href="#">Update</a></td>
                                <td><a href="#">Delete</a></td>
                            </tr>
                            <tr th:remove="all">
                                <td>12333</td>
                                <td>Bookstore 2</td>
                                <td><a href="#">http://www.book2store.com</a></td>
                                <td><a href="#">Update</a></td>
                                <td><a href="#">Delete</a></td>
                            </tr>
                            <tr th:each="bookstore : ${bookstores}">
                                <td th:text="${bookstore.id}">334</td>
                                <td th:text="${bookstore.name}">book store 334</td>
                                <td th:text="${bookstore.url}">www.store334.net</td>
                                <td><a href="#" th:href="@{'/bookstores/' + ${bookstore.id} + '/update'}">Update</a></td>
                                <td><a href="#" th:href="@{'/bookstores/' + ${bookstore.id} + '/delete'}">Delete</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>